<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Biblioteca_server</servlet-name>
		<servlet-class>com.seminario.server.servlets.Biblioteca_serverServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>seguimientoServlet</servlet-name>
		<servlet-class>com.seminario.server.servlets.EscuchadorSeguimiento</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>monitorServlet</servlet-name>
		<servlet-class>com.seminario.server.servlets.MonitorActividades</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>seguimientoServlet</servlet-name>
		<url-pattern>/registrarseguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Biblioteca_server</servlet-name>
		<url-pattern>/biblioteca_server</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>monitorServlet</servlet-name>
		<url-pattern>/monitor</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
